.vuChannel {
  position: relative;
  width: 200px;
  height: 5px;

  .box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .value {
    background: linear-gradient(to right, lime 66%, yellow 66%, yellow 80%, red 80%);
    transition: clip-path 0.3s ease;
  }
  
  .background {
    background: linear-gradient(to right, green 66%, olive 66%, olive 80%, maroon 80%);
  }
}


